#block{
    background: red;

    border: 7px dotted silver;
    border-bottom: 0;
    border-top-style: solid;
    border-radius: 15px 50%;
    opacity: 50%;
    margin-left: 20px;
    padding: 10px 50px 10px;
}