body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    color: white;
    background-image: url("../img/starfield.back.jpg");
    background-size: cover;
    background-position: center;
}

.map{
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    color: white;
    position: absolute;
    top: 20px;
    left: 20px;
    background-image: url("../img/map.jpg");
    background-size: cover;
    background-position: center;
}

.topBar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    /* left: 10px; */
}

.topBar div{
    width: 100px;
    height: 20px;
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
}

.bottomBar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    /* left: 10px; */
}

.bottomBar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    /* left: 10px; */
}

.bottomBar .bottomBar__element{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bottomBar .bottomBar__element div{
    border: 1px solid white;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
}


.middleBar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 340px;
    left: 50%;
    transform: translate(-50%, 0);
    /* left: 10px; */
}

.middleBar div{
    width: 100px;
    height: 30px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
}

.chat{
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    right: 0px;
    bottom: 0px;
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
}

.chat div{
    color: white;
}

.leftBar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.leftBar .leftBar__element{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.leftBar .leftBar__element div{
    border: 1px solid white;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
}